body{
    background-color: var(--color-bg-body);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
   background-color: var(--color-element);
   color: var(--color-white);
   border: var(--border);
   border-radius:var(--border-radius-medium);
   padding:var(--padding-button);
   cursor: pointer;
   &:hover{
       background-color: var(--color-hover);
       border-color: transparent;
   }
   &:active{
       background-color: var(--color-active);
       border-color: transparent;
   }  
}

.active{
    background-color: var(--color-active);
    border-color: transparent;
}

.input{
    background-color: var(--color-bg-input);
    color: var(--color-white);
    border: var(--border);
    border-radius:var(--border-radius-small);
    padding: var(--padding-input-y) var(--padding-input-x);
    outline: none;
    &::placeholder{
        color: var(--color-placeholder-text);
    }
    &:focus{
        border-color: var(--color-focus);
    }
}
.display{
    &-hidden{
        display: none;
    }
    &-active{
        display: flex;
    }
}
